/*Title, Add Item Button, and Search Input*/
.menu {
  overflow: hidden;
  background-color: lightslategray;
  border-radius: 5px;
  box-shadow: 0px 5px 3px -1px #ccc;
}

.title {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 27px;
  font-weight: 700;
  font-family: 'Segoe UI';
}
.menu input[type=text] {
  float: right;
  padding: 7px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  margin-right: 10px;
  font-size: 20px;
  font-family: 'Segoe UI';
}
.add {
  background-color: grey;
  color: white;
  float: right;
  padding: 7px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  margin-right: 16px;
  font-size: 20px;
  font-family: 'Segoe UI';
}
.add:hover {
  background-color: rgb(150, 150, 150);
}

.search {
  background-color: rgb(0, 0, 200);
  float: right;
  padding: 7px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  margin-right: 16px;
  font-size: 20px;
  color: white;
  font-family: 'Segoe UI';
}
.search:hover {
  background-color: rgb(41, 41, 248);
}

.blankspace {
  height: 30px;
}

/*Inventory Section*/
.menu2 {
  overflow: hidden;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0px 5px 3px -1px #ccc;
}
.title2 {
  float: left;
  color: black;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 27px;
  font-weight: 700;
  font-family: 'Segoe UI';
}
.space {
  height: 57px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
}
.thelabels {
  display: flex;
  font-family: 'Segoe UI';
}
.thebuttons {
  display: flex;
  margin-top: 5px;
  font-family: 'Segoe UI';
}
.searchby {
  padding-left: 10px;
  padding-right: 195px;
  float: left;
  font-size: 17px;
  font-family: 'Segoe UI';
}
.sortby {
  float: left;
  font-size: 17px;
  font-family: 'Segoe UI';
}
.searchbu {
  margin-left: 10px;
  margin-right: 20px;
  width: 250px;
  float: left;
  text-align: left;
  font-size: 17px;
  background-color: lightgray;
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  font-family: 'Segoe UI';
}
.searchbu:hover {background-color: rgb(160, 160, 160);}

.sortbu {
  width: 250px;
  float: left;
  text-align: left;
  font-size: 17px;
  background-color: lightgray;
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  font-family: 'Segoe UI';
}
.sortbu:hover {background-color: rgb(160, 160, 160);}

.space2 {
  height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
}

table {
  width: 99%;
  border-collapse: collapse;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'Segoe UI';
}
table, th, td {
  border: 3px solid #ddd;
}
th, td {
  padding: 10px;
  text-align: left;
}
th {
  background: lightgray;
}
.displayimage {
  width: 200px;
  height: 200px;
  border: none;
}

/*Add Popup Menu*/
.addmenu input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: block;
  font-family: 'Segoe UI';
}

.menutitle {
  text-align: center;
  font-family: 'Segoe UI';
}
.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: none;
}
.active .overlay {
  display: block;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 4px black;
  border-style: solid;
  transform: translate(-50%, -50%) scale(0);
  background: white;
  width: 450px;
  height: 550px;
  z-index: 2;
  padding: 20px;
  box-sizing: border-box;
}
.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.addprod {
  background-color: green;
  color: white;
  float: left;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Segoe UI';
}
.addprod:hover{background-color: rgb(3, 154, 3);}
.closemenu {
  background-color: red;
  color: white;
  float: right;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Segoe UI';
}
.closemenu:hover{background-color: rgb(255, 100, 100);}

.edit {
  background-color: blue;
  color: white;
  float: left;
  padding: 7px 15px 7px 15px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Segoe UI';
}
.edit:hover{background-color: rgb(85, 85, 255);}

.remove {
  background-color: red;
  color: white;
  float: right;
  padding: 7px 5px 7px 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Segoe UI';
}
.remove:hover{background-color: rgb(255, 100, 100);}

/*Edit Popup Menu*/
.editmenu input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: block;
  font-family: 'Segoe UI';
}

.emenutitle {
  text-align: center;
  font-family: 'Segoe UI';
}
.eoverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: none;
}
.eactive .eoverlay {
  display: block;
}
.econtent {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 4px black;
  border-style: solid;
  transform: translate(-50%, -50%) scale(0);
  background: white;
  width: 450px;
  height: 550px;
  z-index: 2;
  padding: 20px;
  box-sizing: border-box;
}
.eactive .econtent {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.savechanges {
  background-color: green;
  color: white;
  float: left;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Segoe UI';
}
.savechanges:hover{background-color: rgb(3, 154, 3);}
.closeedit {
  background-color: red;
  color: white;
  float: right;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Segoe UI';
}
.closeedit:hover{background-color: rgb(255, 100, 100);}